.skills-container {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-top: 6vw;
}

.skill-header-area {
    display: flex;
    justify-content: center;
    height: 20%;
    gap: 3vw;
    position: relative;
}

.hr-line {
    width: 40%;
    height: 5px;
    background-color: var(--grey);
    margin-top: 2vw;
    border-radius: 5px;
}

.line-position-1 {
    position: absolute;
    bottom: 20%;
    left: 0;

}

.line-position-2 {
    position: absolute;
    bottom: 20%;
    right: 0;

}


.skills {
    display: flex;
    flex-direction: row;
    height: 80%;
    margin-top: 2vw;


}

.skill-set-1 {
    width: 50%;

}

.skill-set-2 {
    width: 50%;
}

.skill-set {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-content-box {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 70%;
    height: 80%;
}


@media (width < 900px) {
    .skill-content-box {
        gap: 4vw;
        align-items: center;
        justify-content: center;
    }

    .hr-line {
        width: 35%;
        height: 3px;
        background-color: var(--grey);
        margin-top: 2vw;
        border-radius: 5px;
    }

    .line-position-1 {
        position: absolute;
        bottom: 10%;
        left: 0;

    }

    .line-position-2 {
        position: absolute;
        bottom: 10%;
        right: 0;

    }
}

@media (width < 600px) {
    .skills-container {
        margin-top: 10vw;
    }

    .skills-header {
        align-items: center;
    }

    .skills {
        flex-direction: column;
        align-items: center;
        gap: 12vw;
        margin-top: 15vw;
    }

    .skill-set-1 {
        width: 80%;

    }

    .skill-set-2 {
        width: 80%;
    }

    .skill-content-box {
        gap: 5vw;
        align-items: center;
        justify-content: center;
    }

    .hr-line {
        display: none;
    }


}