.topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sub-header {
    color: var(--grey);
    letter-spacing: 3px;
}

.stroke-header {
    font-size: 3rem;
    color: var(--seccond-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: white;
}