.nav {
    display: flex;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 3vw;

}

.item {
    color: white;
    cursor: pointer;
}


.logo {
    display: flex;
    font-size: 4rem;
    margin-left: 3vw;
    height: 100px;

}

.logo-p {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
}

.logo-dot {
    align-self: flex-end;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}

.logo-s {
    color: var(--btn-color);
    font-size: 1.2em;
}

.button {
    margin-right: 3vw;
}

.menu-icon {
    font-size: 2rem;
}




@media (width < 900px) {
    .nav-items {
        gap: 2vw;

    }

    .item {
        font-size: 0.8rem;
    }

}

@media (width < 600px) {
    .button {
        display: none;
    }

    .nav-items {
        position: fixed;
        flex-direction: column;
        right: 8vw;
        top: 7vw;
        font-size: 2.8vw;
        z-index: 99;
        background-color: var(--grey);
        color: var(--btn-color);
        padding: 2vw;
    }
}